<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <a href="#" id="logo">Podcasts-HUB</a>
      <nav>
        <ul>
          <% unless podcast_signed_in? %>
            <li><%= link_to "Explore Library", podcasts_path %></li>
            <li><%= link_to "Sign In", new_podcast_session_path %></li>
            <li><%= link_to "Create Podcast", new_podcast_registration_path %></li>
          <% else %>
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to "Explore Library", podcasts_path %></li>
            <li><%= link_to "Sign Out", destroy_podcast_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Home for your favorite Podcasts.</h1>
    <h2>Create your free Podcast and your favourites only on Podcasts HUB.</h2>
    <%= link_to "Get Started", new_podcast_registration_path, class: "button button_highlight" %>
    <%= link_to "Explore Library", podcasts_path, class: "button button_white" %>
  </div>
</div>
